.loginPage {
    display: grid;
    place-items: center;
    height: 100vh;
  }
  
  .loginPage__loginContainer {
    width: 400px;
    height: 600px;
    background-color: #ededed;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
    border-radius: 12px;
  }
  