@media screen and (max-width: 500) {
    .login {
      font-size: 10px;
    }

    .login__title {
      font-size: 20px;
    }
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-family: fantasy;
}

.login__title {
  padding-top: 40px;
  font-size: 40px;
  display: flex;
  margin: 8%;
  font-family: inherit;
}

.login__form {
  font-size: inherit;
  display: flex;
  flex-direction: column;
  font-family: inherit;
}

.login__form > form {
  font-family: inherit;
  font-size: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.login__form > form > button {
  font-family: inherit;
  background-color: gray;
  width: 100px;
  height: 40px;
  text-align: center;
  border: none;
  border-radius: 15px;
}

.login__form > form > button:hover {
  background-color: rgb(182, 182, 182);
  cursor: pointer;
}

.login__input {
  font-family: inherit;
  font-size: inherit;
  margin-bottom: 10%;
}

.login__input > input {
  font-family: inherit;
  width: 200px;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 15px;
}

.login__register {
  font-family: inherit;
  font-size: inherit;
  display: flex;
  flex-direction: column;
  margin: 4%;
  align-items: center;
}

.login__register > button {
  font-family: inherit;
  background-color: gray;
  width: 100px;
  height: 40px;
  text-align: center;
  border: none;
  margin-top: 2%;
  border-radius: 15px;
}

.login__register > button:hover {
  background-color: rgb(182, 182, 182);
  cursor: pointer;
}
